{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "curly": ["error", "all"],
        "eqeqeq": ["error", "smart"],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": true,
                "optionalDependencies": false,
                "peerDependencies": false
            }
        ],
        "no-shadow": [
            "error",
            {
                "hoist": "all"
            }
        ],
        "prefer-const": "error",
        "import/order": [
            "error",
            {
                "groups": [["external", "builtin"], "internal", ["parent", "sibling", "index"]]
            }
        ],
        "sort-imports": [
            "error",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "*",
                "next": "return"
            }
        ]
    },
    "root": true,
    "plugins": ["import"],
    "env": {
        "browser": false,
        "es6": true,
        "node": true
    },
    "overrides": [
        {
            "files": ["**/*.ts"],
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "tsconfig.json"
            },
            "rules": {
                "@typescript-eslint/prefer-optional-chain": "error",
                "no-shadow": "off",
                "@typescript-eslint/no-shadow": "error",
                "@typescript-eslint/prefer-nullish-coalescing": "error",
                "@typescript-eslint/strict-boolean-expressions": "error",
                "@typescript-eslint/no-unnecessary-boolean-literal-compare": "error",
                "@typescript-eslint/no-unnecessary-condition": "error",
                "@typescript-eslint/no-unnecessary-type-arguments": "error",
                "@typescript-eslint/prefer-string-starts-ends-with": "error",
                "@typescript-eslint/switch-exhaustiveness-check": "error",
                // We intentionally use this so that constructs can declare their command handlers
                "@typescript-eslint/unbound-method": "off",
                "@typescript-eslint/consistent-type-imports": "error"
            }
        }
    ]
}
