name: CI

on:
    push:
        branches: [ master ]
    pull_request:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: actions/setup-node@v2
                with:
                    node-version: '15'
            -   run: npm ci
            -   name: Typescript checks
                run: tsc --noEmit

    tests:
        name: Tests
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: actions/setup-node@v2
                with:
                    node-version: '15'
            -   run: npm ci
            -   run: npm test
